In [12]:
#Desafios 01
import pandas as pd
import matplotlib.pyplot as plt
filmes = pd.read_csv('/home/cr4zyd0g/Documentos/quarentena_dados/ml-latest-small/movies.csv')
filmes.columns = ['filmeId', 'titulo', 'generos']
avaliacoes = pd.read_csv('/home/cr4zyd0g/Documentos/quarentena_dados/ml-latest-small/ratings.csv')
avaliacoes.columns = ['usuarioId', 'filmeId', 'nota', 'momento']
avaliacoes = pd.read_csv('/home/cr4zyd0g/Documentos/quarentena_dados/ml-latest-small/ratings.csv')
avaliacoes.columns = ['usuarioId', 'filmeId', 'nota', 'momento']
nota_media_por_filme = avaliacoes.groupby("filmeId")["nota"].mean()
filmes_com_media = filmes.join(nota_media_por_filme, on="filmeId")
#Resposta
#filmes_com_avaliacao = filmes_com_media['nota'].isnull().value_counts()
filmes_com_avaliacao = filmes_com_media
filmes_sem_avaliacao = filmes_com_avaliacao['nota'].isnull()
filmes_com_avaliacao[filmes_sem_avaliacao]

,filmeId,titulo,generos,nota
816,1076,"Innocents, The (1961)",Drama|Horror|Thriller,NaN
2211,2939,Niagara (1953),Drama|Thriller,NaN
2499,3338,For All Mankind (1989),Documentary,NaN
2587,3456,"Color of Paradise, The (Rang-e khoda) (1999)",Drama,NaN
3118,4194,I Know Where I'm Going! (1945),Drama|Romance|War,NaN
4037,5721,"Chosen, The (1981)",Drama,NaN
4506,6668,"Road Home, The (Wo de fu qin mu qin) (1999)",Drama|Romance,NaN
4598,6849,Scrooge (1970),Drama|Fantasy|Musical,NaN
4704,7020,Proof (1991),Comedy|Drama|Romance,NaN
5020,7792,"Parallax View, The (1974)",Thriller,NaN
5293,8765,This Gun for Hire (1942),Crime|Film-Noir|Thriller,NaN
5421,25855,"Roaring Twenties, The (1939)",Crime|Drama|Thriller,NaN
5452,26085,Mutiny on the Bounty (1962),Adventure|Drama|Romance,NaN
5749,30892,In the Realms of the Unreal (2004),Animation|Documentary,NaN
5824,32160,Twentieth Century (1934),Comedy,NaN
5837,32371,Call Northside 777 (1948),Crime|Drama|Film-Noir,NaN
5957,34482,"Browning Version, The (1951)",Drama,NaN
7565,85565,Chalet Girl (2011),Comedy|Romance,NaN

In [37]:
#Desafio 2
import pandas as pd
import matplotlib.pyplot as plt
filmes = pd.read_csv('/home/cr4zyd0g/Documentos/quarentena_dados/ml-latest-small/movies.csv')
filmes.columns = ['filmeId', 'titulo', 'generos']
avaliacoes = pd.read_csv('/home/cr4zyd0g/Documentos/quarentena_dados/ml-latest-small/ratings.csv')
avaliacoes.columns = ['usuarioId', 'filmeId', 'nota', 'momento']
nota_media_por_filme = avaliacoes.groupby("filmeId")["nota"].mean()
filmes_com_media = filmes.join(nota_media_por_filme, on="filmeId")
#Resposta
total_notas = avaliacoes.groupby('filmeId')['nota'].count()
total_notas.head(10)
filmes_com_media_e_total = filmes_com_media.merge(total_notas, on='filmeId')
filmes_com_media_e_total.rename(columns={'nota_x': 'Média'}, inplace=True)
filmes_com_media_e_total.rename(columns={'nota_y': 'Total de Votos'}, inplace=True)
filmes_com_media_e_total.head(10)

,filmeId,titulo,generos,Média,Total de Votos
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,215
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818,110
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615,52
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143,7
4,5,Father of the Bride Part II (1995),Comedy,3.071429,49
5,6,Heat (1995),Action|Crime|Thriller,3.946078,102
6,7,Sabrina (1995),Comedy|Romance,3.185185,54
7,8,Tom and Huck (1995),Adventure|Children,2.875000,8
8,9,Sudden Death (1995),Action,3.125000,16
9,10,GoldenEye (1995),Action|Adventure|Thriller,3.496212,132